body {
  margin: 0;
  padding: 0;
  background: #F7F8F9;
  font-family: Gotham Pro;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,span,p,a,ul,li,button {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1520px;
}

.row {
  margin: 0 -10px;
}

.row:after {
  clear: both;
  content: " ";
  display: block;
}

.col-12 {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-11 {
  width: 91.666667%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-10 {
  width: 83.333333%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-9 {
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-8 {
  width: 66.666667%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-7 {
  width: 58.333333%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-6 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-5 {
  width: 41.666667%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-4 {
  width: 33.333333%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-3 {
  width: 25%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-2 {
  width: 16.666667%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-1 {
  width: 8.333333%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}
.col-10 {
  width: 10%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}
.col-20 {
  width: 20%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-30 {
  width: 30%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-40 {
  width: 40%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-50 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-60 {
  width: 60%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-70 {
  width: 70%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-80 {
  width: 80%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-90 {
  width: 90%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.col-100 {
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}


