.logo {
  margin-top: 37px;
}

.logo a {
  font-family: Open Sans;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.logo p {
  margin-left: 18px;
}

.main-nav {
  font-family: 'Open Sans';
  margin-left: 10px;
}

.main-nav p {
  margin-left: 28px;
}


.main-nav a, li {
  margin-top: 30px;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #8E8CA0;
}

.main-nav a:hover .ntr {
  fill: #535c7d;
}

.main-nav a:hover .gtr {
  color: #29274A;
}

.btn {
  margin-top: 30px;
  margin-left: 20px;
  background: #5F82FF;
  border-color: #5F82FF;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border-style: none;
}

.feed-header {
  margin-top: 45px;
  align-items: center;
  display: flex;
}

.interesting a,
.all a {
  color: #726F89;
}

.interesting  {
  margin-left: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #726F89;
  text-decoration: none;
}

.all {
  margin-left: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #726F89;
  text-decoration: none;
}

.feed-post {
  display: flex;
  align-items: center;
  background: #FBFBFB;
  border: 2px solid #F1F2F4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 11px 35px;
  margin-top: 35px;
}

.district h1 {
  color: #726F89;
}

.post-things {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.post-things-item {
  margin-left: 27px;
}

.post-things-item-big:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #F1F2F4;
  left: -18px;
  bottom: -4px;
}

.post-things-item-big {
  position: relative;
  margin-left: 37px;

}

.post-things-item-big button {
  background: transparent;
  border: transparent;
}

.post-input {
  background: transparent;
  border: transparent;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
}

.post-input::-webkit-input-placeholder {
  color: #726F89;
  opacity: 0.5;
}

.header-info {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.clock {
  margin-left: 45px;
  font-size: 18px;
  color: #726F89;
}

.thing {
  margin-left: auto;
}

.hamburger {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.hamburger svg:last-child {
  margin-left: 10px;
}

.header-info-nav {
  border: 3px solid #F1F2F4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px 20px;
  width: 100%;
  height: 328px;
  margin-top: 35px;
  position: relative;
}

.header-info-nav a {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #726F89;
  text-decoration: none;
  opacity: 0.5;
  margin-bottom: 18px;
}

.header-info-nav li:first-child {
  display: flex;
  align-items: center;
}

.header-info-nav a:hover {
  opacity: 1;
}

.header-info-nav a:hover:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #7694FA;
  left: -23px;
  bottom: -5px;
  border-radius: 2px;
}

.header-info-nav svg {
  margin-left: auto;
  margin-top: -20px;

}

.header-info-nav svg:hover {
  cursor: pointer;
}

.district-list {
  margin-top: 15px;
  position:relative;
}

.border {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1F2F4;
  left: 0;
  bottom: 0;
}

.border:nth-child(3) {
  top: 147px;
}

.border:nth-child(2) {
  top: 58px;
}

.district-list-items {
  margin-top: 18px;
  position:relative;
}

.photo-preview {
  width: 8em;
  height: 3em;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.fullScreen {
  height: 500px;
}

.noFullScreen {
  height: 160px;
}

.post-label {
  cursor: pointer;
}

.post-photo {
  display: none;
}

.post-img {
  max-width: 100%;
  border-radius: 10px;
  max-height: 70vh;
}

.divA {
  padding: 15px 35px;
  background: #FBFBFB;
  border: 2px solid #F1F2F4;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.comm {
  background: transparent;
  border: transparent;
  width: 40%;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.comm::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #726F89;
  opacity: 0.5;
}

.leave-comment {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-left: 78px;
  position: relative;
}

.user-name {
  margin-left: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 87.68%;
}

.comm-btn {
  height: 25px;
  width: 25px;
  background-color: rgba(12, 25, 71, 0.23);
  border: transparent;
  border-radius: 7px;
  margin-left: 20px;
}

.comment-section {
  background: rgba(155, 155, 155, 0.1);
  border-radius: 28.5px;
  padding: 19px 35px;
  display: flex;
  align-items: center;
}

.comment-section-buttons {
  margin-left: auto;
}

.post-btn {
  cursor: pointer;
}

.comm-btn {
  cursor: pointer;
}

.post-input {
  background: transparent;
  border: transparent;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
}

.post {
  color: #000000;
}

.post-pasta {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
}

.comment-answer-input {
  background: transparent;
  border: transparent;
  margin-left: 15px;
  height: 20px;
}

.comment-answer-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #726F89;
  opacity: 0.5;
}

.comment-answer-btn {
  width: 25px;
  height: 25px;
  background-color: rgba(12, 25, 71, 0.23);
  border-radius: 7px;
  border: transparent;
  margin-left: auto;
  margin-right: 20px;
}

.leave-answer2 {
  background: rgba(155, 155, 155, 0.1);
  border-radius: 28.5px;
  align-items: center;
  display: flex;
  width: 40%;
  height: 50px;
}

.comment-answer {
  background: transparent;
  border: none;
  color: #5B6A9D;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  width: 10px;
}

.comment-answer-text {
  margin-left: 59px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

}

.user-name2 {
  margin-left: 59px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 87.68%;
  color: #000000;
}












